/* ########## */
/* Typography */
/* ########## */

.mt-3-px {
  margin-top: 10px !important;
}
.mt-9-px {
  margin-top: 9px !important;
}
.mt-20-px {
  margin-top: 20px !important;
}
.mt-24-px {
  margin-top: 24px !important;
}

.ml-20-px {
  margin-left: 20px !important;
}
/* ########## */
/* Fonts */
/* ########## */
.f-16 {
  font-size: 16px !important;
}
.f-24 {
  font-size: 24px !important;
}
.f-40 {
  font-size: 40px !important;
}
.f-30 {
  font-size: 30px !important;
}
.f-53 {
  font-size: 53px !important;
}
.f-60 {
  font-size: 60px !important;
}

.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600;
}
.fw-300 {
  font-weight: 300;
}

.color-primary {
  color: #ffffff !important;
}
